@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* Apply globally */
html, body,
h1, h2, h3, h4, h5, h6,
p, span, div, a, button,
input, textarea, select,
table, th, td, label, small {
    font-family: 'Inter', sans-serif !important;
}